body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: set background color to black */
}

.image-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
